#Exportcsv{
    margin: 0px;
    padding: 0px;	
    width: 100%;
}

#export_container{
	position: relative;
	z-index: 1;
	margin: 0px;
}

#export_loader{
	position: absolute;
	z-index: 2;
	display: none;
	width: 100%;
	height: 100%;	
	overflow: hidden;
	top: 0px;
	background: rgba(0,0,0,0.05);	
    opacity: 0;	
    transition: opacity 1s ease-out;
    cursor: wait;
}

#export_loader.export_loading{
	display: block;	
	opacity: 1;
	transition: opacity 1s ease-out;
}

.export_title{
    margin-top: 0px;
    margin-bottom: 20px;	
}

#export_container > .col-md-12{
    padding-right: 0px;
    padding-left: 0px;	
}

.selected_entity_item{
	color: #262626;
    text-decoration: none;
    background-color: #f2f2f2;	
}