<div class="container" id="Instruction">
    <div class="row" id="instruction_container">
        <div class="col-md-3" id="publick_container_left">
            <div class="panel panel-default" id="publick_container_list_sect">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ instruction.list_sect.title }}</h3>
                </div>
                <div class="panel-body panel-body-form-nopadd">
                    <div id="list_sect" class="list-group">
                        <a 
                            class="list-group-item"                             
                            v-bind:class="hasActiveClass('publick')" 
                            @click="select_instruction('publick')"
                        >                          
                            <b class="list-group-item-name-container">
                                <div class="list-group-item-name">
                                    Таблицы
                                </div>  
                            </b>
                        </a>   
                        <a 
                            class="list-group-item"                             
                            v-bind:class="hasActiveClass('admin')" 
                            @click="select_instruction('admin')"
                        >                          
                            <b class="list-group-item-name-container">
                                <div class="list-group-item-name">
                                    Управление
                                </div>  
                            </b>
                        </a> 
                        <a 
                            class="list-group-item"                             
                            v-bind:class="hasActiveClass('export_xlsx')" 
                            @click="select_instruction('export_xlsx')"
                        >                          
                            <b class="list-group-item-name-container">
                                <div class="list-group-item-name">
                                    Экспорт в XLSX
                                </div>  
                            </b>
                        </a>
                        <a 
                            class="list-group-item"                             
                            v-bind:class="hasActiveClass('export_csv')" 
                            @click="select_instruction('export_csv')"
                        >                          
                            <b class="list-group-item-name-container">
                                <div class="list-group-item-name">
                                    Экспорт в CSV
                                </div>  
                            </b>
                        </a>                        
                        <a 
                            class="list-group-item"                             
                            v-bind:class="hasActiveClass('export_pdf')" 
                            @click="select_instruction('export_pdf')"
                        >                          
                            <b class="list-group-item-name-container">
                                <div class="list-group-item-name">
                                    Экспорт в PDF
                                </div>  
                            </b>
                        </a>
                        <a 
                            class="list-group-item"                             
                            v-bind:class="hasActiveClass('import_xlsx')" 
                            @click="select_instruction('import_xlsx')"
                        >                          
                            <b class="list-group-item-name-container">
                                <div class="list-group-item-name">
                                    Импорт из XLSX
                                </div>  
                            </b>
                        </a>
                        <a 
                            class="list-group-item"                             
                            v-bind:class="hasActiveClass('import_csv')" 
                            @click="select_instruction('import_csv')"
                        >                          
                            <b class="list-group-item-name-container">
                                <div class="list-group-item-name">
                                    Импорт из CSV
                                </div>  
                            </b>
                        </a>                         
                    </div>  
                </div>
            </div>
        </div>

        <div class="col-md-9" id="publick_container_right">   
            <div  class="instruction_container_info" v-if="isSelectedInstruction('publick')" >  <!-- Таблицы -->                                        
                <p>            
                    <b>Таблица</b> – совокупность столбцов и строк (записей), в которых упорядочено, хранится используемая информация.
                </p>    

                <br>
                
                <p>
                    Для просмотра <b>имеющегося списка таблиц</b>, необходимо перейти в раздел «Таблицы»
                </p>    
                
                <br>

                <p>
                    В списке таблиц можно просмотреть все созданные ранее таблицы, причем количество созданных таблиц и записей в них не ограничено. Для выбранной из списка таблицы возможны посмотр столбцов и записей (строк), созданных ранее или добавить новые.
                </p>    

                <br>

                <p>
                    Для добавления новой записи введите необходимое значение (строка или число) и нажмите кнопку добавить.
                </p>    

                <br>

                <p>
                    <i>
                        <span style="color: red">Примечание</span>: чтобы у вас была возможность вписывать данные в таблицу, предварительно создайте столбцы в разделе «Управление».
                        Для удаления записей – поставьте галочку напротив записи, нажмите на кнопку удалить ( <i class="fa fa-trash-o" aria-hidden="true"></i> ) и выберите «удалить выбранное» либо нажмите на меню управления записью ( <i class="fa fa-bars" aria-hidden="true" data-toggle="dropdown" aria-expanded="false"></i> ) и выберите пункт «Удалить запись» ( <i class="fa fa-trash-o" aria-hidden="true"></i> ).
                        <br>
                        <span style="color: red">Примечание</span>: удаление таблиц и столбцов возможно только в разделе «Управление» без возможности восстановления.                        
                    </i>
                </p>                            

                <br>

                <p>
                    Для правки записи нажмите на меню управления записью ( <i class="fa fa-bars" aria-hidden="true" data-toggle="dropdown" aria-expanded="false"></i> ) и выберите пункт «Изменить запись» ( <i class="fa fa-pencil" aria-hidden="true"></i> ). Произойдет переход в режим редактирования записи, при этом строка заменится на набор полей ввода с введенными данными текущей записи и опциональные кнопки «Сохранить запись после правки» ( <i class="fa fa-floppy-o" aria-hidden="true"></i> ) и «Отменить изменение текущей записи» ( <i class="fa fa-times" aria-hidden="true"></i> ). 
                </p>

                <br>

                <p>
                    Для навигации по контенту доступны фильтр и постраничная навигация.
                </p>                                    
            </div> 

            <div class="instruction_container_info" v-if="isSelectedInstruction('admin')"> <!-- Управление -->                                                                  
                
                <p>            
                    <b>Раздел «Управление»</b> служит для добавления/изменения/удаления таблиц, столбцов.
                </p>    

                <br>

                <p>
                    <b>Для добавления новой таблицы</b>, в список уже имеющихся (или создания первой таблицы), необходимо:

                    <br>

                    <ul>
                        <li>Перейти в раздел «Управление».</li>
                        <li>В поле «Название таблицы», вписать желаемое имя таблицы и нажать кнопку «Добавить».</li>
                    </ul>    

                    <br>

                    <i>
                        <span style="color: red">Примечание</span>:  создать две таблицы с одинаковым именем не получится, удалите старую или переименуйте новую таблицу.
                    </i>
                </p>

                <br>

                <p>            
                    <b>Для добавления нового столба</b>, необходимо в списке таблиц (раздел «Управление»), выбрать таблицу, в которую будет добавлен столбец.
                </p> 

                <br>

                <p>
                    Далее откроется еще несколько блоков, для выбора <b>названия</b> и <b>типа столба</b>. В поле «Название столба» необходимо вписать название нового столба (буквы русского и латинского алфавита, цифры и символы), а в поле «Сортировка» - положение в списке.
                </p>    
                 
                <br>
                
                <p>
                    После добавления нового столбца, он будет отображен в разделе ниже – «Структура Таблицы»                 
                </p>    
               
                <br>

                <p>
                    Тип данных можно легко изменить, для этого необходимо нажать на тип столбца (серая овальная обводка вокруг текста) и выбрать необходимый тип. Не забудьте нажать «Сохранить» для запоминания внесенных изменений.
                    Для просмотра полученного результата, необходимо перейти в раздел «Таблицы», выбрать из списка таблиц - созданную ранее и нажать на нее. Справа будет отображена вся информация о столбцах и строках. В таблице ниже в качестве «Числового столбца» используется количество товара на складе, а в «Строковом столбце»  - наименование товаров.
                </p> 
                  
                <br>

                <p>                
                    Удаление столбцов:
                    <br>

                    <ul>
                        <li>Зайти в раздел «Управление»</li>
                        <li>Выбрать нужную таблицу (Список Таблиц)</li>
                        <li>В окне «Структура Таблицы» , напротив столбца, который нужно удалить <i class="fa fa-times"></i> </li>
                    </ul>   

                    <br>

                    <i>
                        <span style="color: red">Примечание</span>:  при удалении столбца, все внесенные данные будут так же удалены.
                    </i>    
                </p> 

            </div>

            <div  class="instruction_container_info" v-if="isSelectedInstruction('export_xlsx')" >  <!-- Экспорт в XLSX -->       
                <p>            
                    <b>Расширение XLSX</b> – расширение с файлами данных, рекомендуется для открытия и редактирования в Microsoft Excel 2007 и выше, совместим с более старыми версиями Microsoft Excel и альтернативными офисными пакетами.
                </p>    

                <br>
                
                <p>                    
                    После экcпорта таблицы, с ней  можно продолжить работу в оффлайн режиме (без доступа к интернету). 
                </p>    

                <br>
                
                <p>
                    <i>
                        <span style="color: red">Примечание</span>:  тип данных столбца менять не рекомендуется, иначе это скажется на работоспособности таблицы и приведет к ошибкам экспорта (например: если в типе данных столбца «Цена» у вас указаны только числа: 100,200,300 и т.д. – крайне не рекомендуется приписывать еще и валюту (руб, usd), название валюты может быть указано в наименовании столбца).
                    </i>
                </p>    

                <br>
                
                <p>
                    Экспорт таблицы:
                    <br>

                    <ul>
                        <li>Перед началом экспорта необходимо выделить нужные таблицы и столбцы нажав на соответствующие чекбоксы</li>                 
                        <li>Нажать на кнопку «Экспортировать»</li>
                    </ul>    
                </p>    

                <br>
                
                <p>
                    <i>
                        <span style="color: red">Примечание</span>: Название таблицы экспортируется как название Листа в Excel.
                    </i>
                </p>    
            </div>

            <div  class="instruction_container_info" v-if="isSelectedInstruction('export_csv')" >  <!-- Экспорт в CSV -->     

                <p>            
                    <b>CSV</b> – текстовый формат, предназначенный для представления табличных данных.
                </p>    

                <br>
                
                <p>
                    Перед началом экспорта необходимо:
                    <br>

                    <ul>
                        <li>Выбрать нужную таблицу</li>
                        <li>Выделить нужные столбцы</li>                 
                        <li>Нажать на кнопку «Экспортировать»</li>
                    </ul>    
                </p>    

                <br>
                
                <p>
                    <i>
                        <span style="color: red">Примечание</span>: Название таблицы экспортируется как название файла.
                    </i>
                </p>    
            </div> 

            <div  class="instruction_container_info" v-if="isSelectedInstruction('export_pdf')" >  <!-- Экспорт в PDF -->     

                <p>            
                    <b>Расширение PDF</b> – открытый формат электронных документов.
                </p>    

                <br>
                
                <p>
                    Перед началом экспорта необходимо:
                    <br>

                    <ul>
                        <li>Выбрать нужную таблицу</li>
                        <li>Выделить нужные столбцы</li>                 
                        <li>Нажать на кнопку «Экспортировать»</li>
                    </ul>    
                </p>    

                <br>
                
                <p>
                    <i>
                        <span style="color: red">Примечание</span>: Название таблицы экспортируется как название файла и заголовок таблицы. Наименование столбцов и заголовка выделяется полужирным начертанием.
                    </i>
                </p>    
            </div>  

            <div  class="instruction_container_info" v-if="isSelectedInstruction('import_xlsx')" >  <!-- Импорт из XLSX -->     
                <p>
                    Для импорта выберите файл формата <b>XLSX</b>.
                </p>    

                <br>
                
                <p>
                    Если желаете импортировать все данные с файла то нажмите на кнопку «Импортировать».
                </p>    

                <br>
                
                <p>
                    Существует возможность опционально выбрать что импортировать. Для выбора опций уберите галочку «Импортировать всё».
                </p>    

                <br>
                
                <p>
                    В выпадающем списке будет доступен список таблиц для импорта.
                    <i>
                        <span style="color: red">Примечание</span>: Таблицы в выпадающем списке являются листами в выбранном для импорте файле формата XLSX.
                    </i>
                </p>    

                <br>
                
                <p>
                    Если желаете импортировать только структуру уберите галочку «Импортировать данные», таким образом, в вашу таблицу импортируется только структура.
                    
                    <br>
     
                    Если желаете импортировать только данные уберите галочку в поле «Импортировать структуру» таким образом, в вашу таблицу импортируются только данные.
                </p>        
            </div>  

            <div  class="instruction_container_info" v-if="isSelectedInstruction('import_csv')" >  <!-- Импорт из CSV -->  
                <p>
                    Для импорта выберите файл формата <b>CSV</b>.
                </p>    

                <br>
                
                <p>
                    Если желаете импортировать все данные с файла то нажмите на кнопку «Импортировать».
                </p>    

                <br>
                
                <p>
                    Существует возможность опционально выбрать что импортировать. Для выбора опций уберите галочку «Импортировать всё».
                </p>    

                <br>
                
                <p>
                    Если желаете импортировать только структуру уберите галочку «Импортировать данные», таким образом, в вашу таблицу импортируется только структура.
                    
                    <br>
     
                    Если желаете импортировать только данные уберите галочку в поле «Импортировать структуру» таким образом, в вашу таблицу импортируются только данные.
                </p>        
            </div>                                                                                              
        </div>  
    </div>

    <div id="instruction_loader" v-bind:class="{ 'instruction_loading': instruction_loading_show }"></div>    
</div>